<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>댓글 목록</title>
</head>
<body>
<h1>댓글 목록</h1>
<div th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>
<ul>
    <li th:each="comment : ${comments}">
        <p><b th:text="${comment.nickName}">작성자</b>: <span th:text="${comment.content}">내용</span> <i th:text="${comment.createdAt}">작성 시간</i></p>
    </li>
</ul>
<h2>댓글 작성</h2>
<form th:action="@{/api/comments/create}" th:object="${addCommentRequest}" method="post">
    <input type="hidden" th:field="*{issueId}" th:value="${issueId}" />
    <textarea th:field="*{description}" placeholder="댓글을 입력하세요"></textarea>
    <button type="submit">댓글 생성</button>
</form>
</body>
</html>